body {
	background: #CCCCCC;
}
ul {
 list-style-type: none;
 list-style-position: none;
 list-style-image: none;
}

.today{
	display: inline-block;
	font-size: 1.2em;
	width: 8em;
}

/* Pure CSS customisation */
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
		color: #FFDDDD;
}

.button-xsmall {
    font-size: 70%;
}
